<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand text-light" href="/"> NebulaNex </a>
  </div>
</footer>
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-4 d-flex justify-content-center">
    <div class="col">
      <a href="mailto:dimmts19@gmail.com"><img class="img-fluid gambar" src="img/google.png" alt="" /></a>
    </div>
    <div class="col">
      <a href="https://www.instagram.com/dimmts_/"><img class="img-fluid gambar" src="img/instagram.png" alt="" /></a>
    </div>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <img class="textsamping" src="img/rocket.png" alt="" />
  </div>
  <div class="col-4 d-flex justify-content-center">
    <div class="col text-end">
      <a href="https://github.com/HaiIamD?tab=overview&from=2023-12-01&to=2023-12-20"><img class="img-fluid gambar" src="img/github.png" alt="" /></a>
    </div>
    <div class="col text-end">
      <a href="https://www.linkedin.com/in/dimas-toriq-sibarani-5277751bb/"><img class="img-fluid gambar" src="img/linkedin.png" alt="" /></a>
    </div>
  </div>
</div>
