<!-- Gambar awal dan signup -->
<div class="row e404">
  <div class="col-md-12 mb-5 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <img src="img/404401.png" alt="" class="img-fluid" />
      <h1 class="text-light navbar-brand">NOT FOUND 404</h1>
    </div>
  </div>
</div>
