<div class="container login">
  <h1 class="loginregister border-bottom">Login</h1>
  <div class="row">
    <div class="col-md-7 d-flex align-items-center">
      <img src="img/background.jpg" alt="Your Image" class="img-fluid img-max-width-login d-flex" />
    </div>
    <div class="col-md-4 ms-5 d-flex justify-content-center align-items-center ngaturmargin">
      <div class="d-inline text-center ngatur">
        <div class="border-bottom mb-4">
          <p>Authentication through Google ensures a secure login process.</p>
        </div>
        <div class="">
          <a href="/auth/google" class="btn btn-light pe-5 ps-5">Login With Google <i class="bi bi-google ps-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
